<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/index.css" />
    <title>Parking Reservation</title>
  </head>
  <body>
    <div>
      <h1>Parking Reservation</h1>

      <button>Reserve a Parking Spot</button>
      <button>Modify Parking Reservation</button>
      <button>Cancel Parking Reservation</button>
    </div>
  </body>
</html>
