<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/res_modification_detail.css" />

    <title>Reservation Modification Detail</title>
  </head>
  <body>
    <h1>Modify a Reservation</h1>
    <p style="font-size: 24px">Please modify your reservation details below.</p>

    <div class="name">
      <p>Name</p>
      <div class="gap">
        <input type="text" placeholder="First name" />
        <input type="text" placeholder="Last name" />
      </div>
    </div>

    <div style="margin-top: 24px">
      <p>Email</p>
      <input type="text" placeholder="Enter your email" style="width: 626px" />
    </div>

    <div style="margin-top: 24px">
      <p>Parking Number</p>
      <input
        type="text"
        placeholder="Choose parking number"
        style="width: 626px"
      />
    </div>

    <div style="margin-top: 24px">
      <p>License Plate</p>
      <input
        type="text"
        placeholder="Enter your license plate"
        style="width: 626px"
      />
    </div>

    <div class="date">
      <p>Date</p>
      <div class="gap">
        <input type="text" placeholder="Month" />
        <input type="text" placeholder="Year" />
        <input type="text" placeholder="Month" />
      </div>
    </div>

    <div style="margin-top: 40px">
      <button onclick="location.href ='/res_mod_confirmation'">Next</button>
    </div>
  </body>
</html>
