<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/res_cancellation.css" />
    <title>Res Modification</title>
  </head>
  <body>
    <h1>Modify a Reservation</h1>
    <p style="font-size: 24px">
      Please confirm the reservation you would like to modify by filling the
      information below.
    </p>

    <p>Please Enter Your Confirmation Code</p>
    <form action = "/res_modification" method ="post">
      {% csrf_token %}
    <input
      type="text"
      placeholder="Confirmation Code Here"
      style="width: 626px;margin : 10px"
      name = 'Code'
      required
    />
    <input
      type="text"
      placeholder="PIN"
      style="width: 62px;margin : 10px"
      name = 'PIN'
      required
    />


    <div style="margin-top: 40px">
      <button type= "submit" onclick ="location.href='/'">Back</button>
      <button type="submit" >Next</button>
    </form>
    </div>
  </body>
</html>
