<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/reservation.css" />
    <title>Reservation</title>
  </head>
  <body>
    <h1>Modify Your Reservation</h1>

    <div id="name">
      <p>Name</p>
      <form action = "/res_modification_detail" method ="post">
        {% csrf_token %}
      <div class="gap">
        <input type="text" placeholder={{First_Name}} value={{First_Name}} name = 'First_Name' required/>
        <input type="text" placeholder={{Last_Name}} value={{Last_Name}} name = 'Last_Name' required/>
      </div>
    </div>

    <div style="margin-top: 24px">
      <p>Email</p>
      <input type="text" placeholder={{Email}} value={{Email}} style="width: 626px" name = 'Email' required/>
    </div>

    <div style="margin-top: 24px">
      <p>Parking Number</p>
      <input
        type="number"
        placeholder={{Park_Num}}
        value = {{Park_Num}}
        style="width: 626px"
        name = 'Park_Num'
        required
        readonly
      />
    </div>

    <div style="margin-top: 24px">
      <p>License Plate</p>
      <input
        type="text"
        placeholder={{License}}
        value={{License}}
        style="width: 626px"
        name = 'License'
        required
        
      />
    </div>

    <div id="date">
      <p>Date</p>
      <div class="gap">
        <input type="number" placeholder="Month" value={{Month}} name = 'Month' min="1" max = "12" required/>
        <input type="number" placeholder="Day" value={{Day}} name = 'Day' min="1" max="31"/>
        <input type="number" placeholder="Year" value={{Year}} name = 'Year' min="2023" required/>
      </div>
    </div>

    <p>Card Number</p>
    <input
      type="number"
      placeholder={{Card_Num}}
      value={{Card_Num}}
      style="width: 626px"
      name = 'Card_Num'
      required
    />

    <div id="expiration">
      <p>Expiration</p>
      <div class="gap">
        <input type="number" placeholder="cMonth" value={{cMonth}} name = 'Card_M' min="1" max = "12" required/>
        
        <input type="number" placeholder="cYear" value={{cYear}} name = 'Card_Y' min="2023" required/>
      </div>
    </div>

    <div style="margin-top: 56px">
      <button type= "submit" location.href ='/payment'>Submit</button>
    </form>
    </div>
  </body>
</html>
