<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/reservation.css" />
    <title>Reservation</title>
  </head>
  <body>
    <h1>Reserve a Parking Space</h1>

    <div id="name">
      <p>Name</p>
      <div class="gap">
        <input type="text" placeholder="First name" />
        <input type="text" placeholder="Last name" />
      </div>
    </div>

    <div style="margin-top: 24px">
      <p>Email</p>
      <input type="text" placeholder="Enter your email" style="width: 626px" />
    </div>

    <div style="margin-top: 24px">
      <p>Parking Number</p>
      <input
        type="text"
        placeholder="Choose parking number"
        style="width: 626px"
      />
    </div>

    <div style="margin-top: 24px">
      <p>License Plate</p>
      <input
        type="text"
        placeholder="Enter your license plate"
        style="width: 626px"
      />
    </div>

    <div style="margin-top: 56px">
      <button onclick="location.href ='/payment'">Next</button>
    </div>
  </body>
</html>
