@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  background: #eae7ff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-weight: 500;
  font-size: 60px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #8a43fd;
  background-color: #8a43fd;
  color: white;
  border-radius: 60px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

button:hover {
  background-color: #a672fa;
  border: 2px solid #a672fa;

  color: white;
}

div {
  text-align: center;
}
